<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Daily Blog Dev" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
  </head>

  <body class="bg-gray-100 text-gray-900 font-sans min-h-screen flex flex-col">
    <nav class="bg-gray-900 text-white shadow">
      <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
        <%= link_to "Daily Blog Dev", root_path, class: "text-xl font-bold hover:text-gray-300" %>
        <% if user_signed_in? %>
          <div class="space-x-4">
            <%= link_to "Posts", learning_posts_path, class: "hover:text-gray-300" %>
            <%= link_to "My posts", my_posts_learning_posts_path, class: "hover:text-gray-300" %>
            <%= link_to "New post", new_learning_post_path, class: "hover:text-gray-300" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "hover:text-red-400" %>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "hover:text-blue-300" %>
        <% end %>
      </div>
    </nav>
    <main class="flex-grow w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-12 py-8">
      <%= yield %>
    </main>
  </body>
</html>
